<app-cabecera titulo = "Pagina 3"> </app-cabecera>

<ion-content>
  Hola
  
   <ion-button color="primary" class="estilo-boton" color="magenta">Hola</ion-button>

    <ion-button color="secondary" class="estilo-boton" color="magenta">
      <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
    </ion-button>
 
  
    <ion-button class="estilo-boton" color="magenta" >
      <ion-icon slot="start" name="star"></ion-icon>
        Boton
    </ion-button>


    <ion-button class="estilo-boton" color="magenta">
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>

   
      <ion-list>
        <ion-item *ngFor="let e of juegos">
          <ion-icon [name]="e.icono" slot = "start"> </ion-icon>
          <ion-label> {{e.nombre}}</ion-label> 

        </ion-item>


      </ion-list>

      <ion-button *ngIf="mostrar else bloqueElse" > Pagina 2 </ion-button>
      
      <ng-template #bloqueElse> Texto en lugar de boton </ng-template>
      




</ion-content>
